body {
    background: whitesmoke;
    font-family: 'Garamond', serif;
    margin: 20px;
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin: 3px;
    color: whitesmoke;
}

h2 {
    color: tomato;
    margin: 0;
}

p {
    margin: 2px;
    color: black;
}

.first, .second, .third {
    margin: 20px auto;
}

.third path:hover {
    opacity: 0.8;
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
}

#intro {
    background: maroon;
    border-radius: 10px;
    padding: 10px;
}

#intro p {
    color: whitesmoke;
}


#first {
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
}

#second {
    border-radius: 10px;
    padding: 10px;
}

.third {
    background-color: salmon;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.third text {
    fill: whitesmoke;
}

.second, .first {
    background-color: salmon;
    border-radius: 10px;
    padding: 10px;
}

.first text 
{
    fill: whitesmoke;
}