body {
    background: whitesmoke;
    font-family: 'Garamond', serif;
    margin: 20px;
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin: 3px;
    color: tomato;
}

h2 {
    color: tomato;
    margin: 0;
}

p {
    margin: 2px;
    color: black;
}

.first, .second, .third {
    margin: 20px auto;
    text-align: center;
}

/* Map-specific styles */
.third path:hover {
    opacity: 0.8;
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
}

.third {
    background-color: lightsalmon;
    border-radius: 10px;
    padding: 10px;
}